<h1>Hello, my name is Adarsh, and my Student ID is 500234722</h1>
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first ASP.NET web app! Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET</a>.</p>
</div>
